.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; // Maintain 16:9 aspect ratio
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__threejs-container {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
  }
}

.threejs-container {
  width: 100%;
  height: 100%;
}
