@use './styles/partials/variables' as *;

:root {
  --bg-color: #{$light-bg};
  --text-color: #{$light-text};
  --accent-color: #{$light-accent};
}

[data-theme='dark'] {
  --bg-color: #{$dark-bg};
  --text-color: #{$dark-text};
  --accent-color: #{$dark-accent};
}

[data-theme='pink'] {
  --bg-color: #{$pink-bg};
  --text-color: #{$pink-text};
  --accent-color: #{$pink-accent};
}

[data-theme='blue'] {
  --bg-color: #{$blue-bg};
  --text-color: #{$blue-text};
  --accent-color: #{$blue-accent};
}

[data-theme='green'] {
  --bg-color: #{$green-bg};
  --text-color: #{$green-text};
  --accent-color: #{$green-accent};
}

[data-theme='yellow'] {
  --bg-color: #{$yellow-bg};
  --text-color: #{$yellow-text};
  --accent-color: #{$yellow-accent};
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $secondary-font;
}

a {
  color: var(--accent-color);
}

.header {
  background-color: var(--bg-color);
}

.header__link {
  color: var(--text-color);

  &:hover {
    color: var(--accent-color);
  }
}
