// styles/main.scss
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../components/TechArtGrid/TechArtGrid.scss' as *;

.work {
  &__video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; // Maintain 16:9 aspect ratio
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}
